!!!
%html
  %head
    %title TrustData
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %p.text-center
      - flash.each do |key, value|
        = content_tag :div, value, class: "flash #{key}"
    .h-20{:style=>"height:30px;clear:both;"}
    = yield